<%= form_with(model: loser, local: true) do |form| %>
  <% if loser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loser.errors.count, "error") %> prohibited this loser from being saved:</h2>

      <ul>
      <% loser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vorname %>
    <%= form.text_field :vorname, id: :loser_vorname %>
  </div>

  <div class="field">
    <%= form.label :nachname %>
    <%= form.text_field :nachname, id: :loser_nachname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
