<p id="notice"><%= notice %></p>

<h1>Losers</h1>

<table>
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @losers.each do |loser| %>
      <tr>
        <td><%= loser.vorname %></td>
        <td><%= loser.nachname %></td>
        <td><%= link_to 'Show', loser %></td>
        <td><%= link_to 'Edit', edit_loser_path(loser) %></td>
        <td><%= link_to 'Destroy', loser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loser', new_loser_path %>
